@section style{
    <style>

    </style>
}
@{
    Mascota mascota = ViewBag.Mascota as Mascota;
}
<h1>Ejemplos Session</h1>
<hr />
<h2>@Context.Session.GetString("nombre") - @Context.Session.GetString("hora")</h2>
@if(mascota != null)
{
    <h2>Nombre: @mascota.Nombre, Raza: @mascota.Raza, Edad: @mascota.Edad</h2>
}
<hr />
<ul class="list-group">
    <li class="list-group-item">
        <a asp-controller="EjemploSession" asp-action="SessionSimple">Session Simple</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="EjemploSession" asp-action="SessionMascotaBytes">Session Mascota Bytes</a>
    </li>
    <li class="list-group-item">
        <a asp-controller="EjemploSession" asp-action="SessionMascotaCollectionBytes">Session Mascota Collection Bytes</a>
    </li>
</ul>
